#footer
	section.css-table
		section.three-row
			section.cell
				p Footer stuff
			section.cell
				p Footer stuff
			section.cell
				p Footer stuff <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
