//Top bar
header.bar-title

  - if (title !== 'Stanford Fixit')
    a.button-prev(href=left_link)= left_title
  - else
    a.button(href=left_link)= left_title

  //Linked title
  h1.title
    a(href=title_link)= title

  //Right button
  - if (title !== 'Info' && title !== 'Success' && title !== 'Failure')
    a.button#right_button(href=right_link)= right_title


 