//Top bar
header.bar-title
	//Left button
	a.button(href="/about") About

	//Linked title
	h1.title
		a(href="/")= title

	//Right button
	a.button(href="/contact") Contact

a.button(href="/contact") Contact
