extends layout

block head

block main

    .content-padded
      p
      | Something broken on campus? Get it fixed with Stanford Fixit!
      br
      br
      | The quickest way to send a timely maintenance requests to Stanford facilities.
      br
      br
      | See our contact page for further inquiries.

//block content
//
  h1 About Page.
  section.css-table
    section.two-row
      section.cell
        h2 First section
        p I'm a paragraph
      section.cell
        h2 Another Section
        p I'm a paragraph
  section.css-table
    section.three-row
      section.cell
        h3 Etiam lobortis
        p Paragraph 1
      section.cell
        h3 Phasellus lacus
        p Paragraph 2
      section.cell
        h3 Aliquam vulputate
        p Paragraph 3
