extends layout

block main

	ul(class='list')
		li
			p Wesley Leung
			a(class="button-main", href="mailto:wleung1@stanford.edu") Email
		li
			p Diana Lee
			a(class="button-main", href="mailto:diana.yiyng@gmail.com") Email
		li
			p John Yang-Sammataro
			a(class="button-main", href="mailto:johnys@stanford.edu") Email
