h1= title
p Welcome to #{title}



p Hello World! Here are emairs.


ul
	li 
		a(href="mailto:wleung1@stanford.edu") Wesley Leung
	li 
		a(href="mailto:dianayl@stanford.edu") Diana Lee
	li 
		 a(href="mailto:johnys@stanford.edu") JYS
