extends layout

block head
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='js/index.js')


block main

    .content-padded
        form(method="post", action="/email")
            img#pic(src="/img/tap.png", onclick="picClickFunction()")
            input#upload_input(type="file", style="visibility:hidden", accept="image/*", onchange="showPreview(this)")


            input#building(type="text", placeholder="Building", name="building")
            input#additional(type="text", placeholder="Floor, room number, etc.", name="additional")
            textarea#description(rows="5", placeholder="Descripition", name="description")
            input(type='submit',value='Submit',data-transition='fade', data-theme='c')
