extends layout

block head
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='js/index.js')


block main

    .content-padded
        form(method="post", action="/email", enctype="multipart/form-data", id="fixitform", onsubmit="return validateForm()")
            img#pic(src="/img/tap.png", onclick="picClickFunction()", name="pic")
            input#upload_input(type="file", style="visibility:hidden", accept="image/*", onchange="showPreview(this)", name="uploaded_input")
            select#building(name="building")
            input#additional(type="text", placeholder="Floor, room number, etc.", name="additional")
            textarea#description(rows="5", placeholder="Descripition", name="description")
            input#submitButton(class='button', type='submit',value='Submit', data-transition='fade', data-theme='c')
