extends layout
block content
  h1= title
  p Welcome to #{title}
  p We can define routes and add API endpoints here
  p Stanford auth should be presented, but since we likely won't have access to that, let's just use gmail or FB ouath
  p Camera functionality should be on homepage
  ul
          li 
            a(href="/") Home
          li 
            a(href="/about") Go to About 
          li 
            a(href="/contact") Go to Contact
