extends layout

block content
	p Welcome to #{title}
	p We can define routes and add API endpoints here
	p Stanford auth should be presented, but since we likely won't have access to that, let's just use gmail or FB ouath
	p We do not need a sign in (I asked huang)
	p Camera functionality should be on homepage
