extends layout

block head
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='js/index.js')


block main

    .content-padded
        img#pic(src="/img/tap.png", onclick="picClickFunction()")
        input#upload_input(type="file", style="visibility:hidden", accept="image/*", onchange="showPreview(this)")

        //
            form(method="post", action="/request")
                label(for="photo")
                    | Take a picture to help us solve the problem!
                #photo-box
                    input#photo-input(type="file", name="photo", hidden="true")
                    .block-button#photo-button
                        | Click to take a Picture
            br
            input(type="file", name="photo")

        input#building(type="text", placeholder="Building")
        input#additional(type="text", placeholder="Floor, room number, etc.")
        textarea(rows="5", placeholder="Descripition")

block script
  script(type='text/javascript')
    var fb_head = new FingerBlast('.bar-title');
