extends layout
block content
  h1= title
  p Welcome to #{title}
  p We can define routes and add API endpoints here
  ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About Page
          li 
            a(href="/contact") About Contact
