extends layout

block main

	.content-padded
		p Please enter your fixit request below

	form(method="post", action="/request")
		label(for="photo")Take a picture to help us solve the problem!
		input(type="file")
		
		input(type="text", placeholder="Location")
		textarea(rows="5", placeholder="Descripition")
