extends layout

block head
    //link(rel='stylesheet', href='/stylesheets/index_style.css')
    //link(rel='stylesheet', href='/css/index.css')
    //script(src='js/index.js')
    

block main

    ul(class='list')
        li
            a(href='/about') About
                span(class='chevron')
        li
            a(href='/contact') Contact
                span(class='chevron')
